accelerate
datasets
evaluate
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cu118
torchvision==0.16.0+cu118
transformers>=4.36.2
tqdm
einops
sentencepiece
protobuf==3.19.6
scikit-learn
matplotlib
pandas
numpy
deepspeed
wheel
wandb
python-config
pybind11
